@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Map Tailwind's default font to the typewriter font */
  --font-sans: var(--font-typewriter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Apply it to the body */
  font-family: var(--font-typewriter), monospace;
}